@model HRIS_UIRevamp_v2.ViewModel.CompanyUpdateViewModel
@{
    ViewBag.Title = "Company/View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-12 title">
        VIEW COMPANY
    </div>

    <div class="body-content">
        <div id="step-1">
            <div class="col-md-6 left-container no-padding">
                <div class="col-md-12 no-padding tabs-default h55 ff-nt2">
                    <div class="tab selected flex flex-left">
                        <span class="margin-left-lg fs26">BASIC INFORMATION</span>
                    </div>
                </div>
                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-4 ">
                        <div class="col-md-12 no-padding fs20 ff-nt2">
                            @Html.LabelFor(model => model.comp_id, new { @class = "" })
                        </div>
                        @Html.TextBoxFor(model => model.comp_id, new { @maxlength = "20", @class = "input-default h45 fs20 block", @disabled = true })
                    </div>
                    <div class="col-md-8 no-padding-left">
                        <div class="col-md-12 no-padding fs20 ff-nt2">
                            @Html.LabelFor(model => model.name1, new { @class = "" })
                        </div>
                        @Html.TextBoxFor(model => model.name1, new { @maxlength = "50", @class = "input-default h45 fs20 block", @disabled = true })
                    </div>
                </div>

                <div class="col-md-12 margin-top-default" id="address">
                    <div class="col-md-12 fs20 ff-nt2 margin-bottom-sm">
                        Company Address
                    </div>
                    <div class="col-md-12 no-padding">
                        <div class="col-md-6">
                            <div class="col-md-12 no-padding fs17">
                                @Html.LabelFor(model => model.streetaddress, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.streetaddress, new { @maxlength = "100", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                        <div class="col-md-6 no-padding-left ">
                            <div class="col-md-12 no-padding fs17">
                                @Html.LabelFor(model => model.city, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.city, new { @maxlength = "50", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                    </div>

                    <div class="col-md-12 no-padding ">
                        <div class="col-md-6 margin-top-default">
                            <div class="col-md-12 no-padding fs17">
                                @Html.LabelFor(model => model.province, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.province, new { @maxlength = "50", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                        <div class="col-md-6 no-padding-left margin-top-default">
                            <div class="col-md-12 no-padding fs17">
                                @Html.LabelFor(model => model.country, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.country, new { @maxlength = "50", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-6">
                            <div class="col-md-12 no-padding fs20 ff-nt2">
                                @Html.LabelFor(model => model.sss, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.sss, new { @maxlength = "20", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                        <div class="col-md-6 no-padding-left">
                            <div class="col-md-12 no-padding fs20 ff-nt2">
                                @Html.LabelFor(model => model.philhealth, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.philhealth, new { @maxlength = "20", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                    </div>
                    <div class="col-md-12 no-padding margin-top-default">
                        <div class="col-md-6 ">
                            <div class="col-md-12 no-padding fs20 ff-nt2">
                                @Html.LabelFor(model => model.pagibig, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.pagibig, new { @maxlength = "20", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                        <div class="col-md-6 no-padding-left">
                            <div class="col-md-12 no-padding fs20 ff-nt2">
                                @Html.LabelFor(model => model.tin, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.tin, new { @maxlength = "20", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                    </div>
                </div>


                <div class="col-md-12 margin-top-default margin-bottom-lg">
                    <div class="col-md-12 fs20 ff-nt2">
                        @Html.LabelFor(model => model.addinfo, new { @class = "" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.addinfo, new { @maxlength = "250", @class = "input-default fs20 block", @rows = 5, @disabled = true })
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding" style="height:100%">
                <div class="col-md-12 no-padding tabs-default h55 ff-nt2">
                    <div class="tab selected flex flex-left">
                        <span class="margin-left-lg fs26">CONTACT DETAILS</span>
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-12 fs20 ff-nt2 margin-bottom-sm">
                        Contact Persons
                    </div>
                    <div class="col-md-12 margin-top-default">
                        <div class="no-padding col-md-1 h45 fs20 ff-nt2 margin-bottom-sm flex flex-center">
                            1.
                        </div>
                        <div class="col-md-11 no-padding">
                            @Html.TextBoxFor(model => model.contactperson1, new { @maxlength = "50", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-default">
                        <div class="no-padding col-md-1 h45 fs20 ff-nt2 margin-bottom-sm flex flex-center">
                            2.
                        </div>
                        <div class="col-md-11 no-padding">
                            @Html.TextBoxFor(model => model.contactperson2, new { @maxlength = "50", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                    </div>

                    <div class="col-md-12 margin-top-default">
                        <div class="col-md-12  fs20 ff-nt2 margin-bottom-sm no-padding">
                            @Html.LabelFor(model => model.phone1, new { @class = "" })
                        </div>
                        <div class="col-md-12 no-padding-right">
                            <div class="col-md-12 no-padding">
                                @Html.TextBoxFor(model => model.phone1, new { @maxlength = "15", @class = "input-default h45 fs20 block" , @disabled = true })
                                @Html.ValidationMessageFor(model => model.phone1, "", new { @class = "fs15 text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12  fs20 ff-nt2 margin-bottom-sm no-padding margin-top-default">
                            @Html.LabelFor(model => model.phone2, new { @class = "" })
                        </div>
                        <div class="col-md-12 no-padding-right">
                            <div class="col-md-12 no-padding">
                                @Html.TextBoxFor(model => model.phone2, new { @maxlength = "15", @class = "input-default h45 fs20 block", @disabled = true })
                                @Html.ValidationMessageFor(model => model.phone2, "", new { @class = "fs15 text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 margin-top-default margin-bottom-default" id="emails">
                    <div class="col-md-12 fs20 ff-nt2 margin-bottom-sm">
                        Emails
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12 no-padding-right">
                            <div class="col-md-12 no-padding fs17">
                                @Html.LabelFor(model => model.email1, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.email1, new { @maxlength = "100", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                        <div class="col-md-12 margin-top-default no-padding-right">
                            <div class="col-md-12 no-padding fs17">
                                @Html.LabelFor(model => model.email2, new { @class = "" })
                            </div>
                            @Html.TextBoxFor(model => model.email2, new { @maxlength = "100", @class = "input-default h45 fs20 block", @disabled = true })
                        </div>
                    </div>
                    <div class="col-md-6 pull-right margin-top-lg margin-right-default flex flex-center no-padding-right">
                        <div class="no-padding col-md-6 margin-right-sm margin-top-lg">
                            <input type="button" value="NEXT" class="h38 fs20 button-default block" onclick="page2()"/>
                        </div>
                        <div class="no-padding col-md-6 margin-top-lg">
                            <a type="button" href='@Url.Content("~/Company")' class="bg-orange001 button-default block h38 fs20 ff-nt2">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse" id="step-2">
            <div class="col-md-6 left-container no-padding">
                <div class="col-md-12 no-padding tabs-default h55 ff-nt2">
                    <div class="tab selected flex flex-left">
                        <span class="margin-left-lg fs26">COMPANY SETTINGS</span>
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-12  fs20 ff-nt2">
                        Fiscal year starts by the month of
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.fiscalyearmonth, "", new { @class = "" , @data_selected = Model.fiscalyearmonth, @disabled= true})
                    </div>
                </div>

                <div class="col-md-12 margin-top-default">
                    <div class="col-md-12 fs20 ff-nt2 margin-bottom-sm">
                        Default restday/s
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3 fs16">
                            @Html.CheckBoxFor(model => model.rdsunday, htmlAttributes: new { @class = "ch_box", data_toggle = "checkbox-x", @value = "true", data_three_state = "false", @disabled = true })
                            @Html.LabelFor(model => model.rdsunday)
                        </div>
                        <div class="col-md-3 fs16 ">
                            @Html.CheckBoxFor(model => model.rdmonday, htmlAttributes: new { @class = "ch_box", data_toggle = "checkbox-x", @value = "true", data_three_state = "false", @disabled = true })
                            @Html.LabelFor(model => model.rdmonday)
                        </div>
                        <div class="col-md-3 fs16 ">
                            @Html.CheckBoxFor(model => model.rdtuesday, htmlAttributes: new { @class = "ch_box", data_toggle = "checkbox-x", @value = "true", data_three_state = "false", @disabled = true })
                            @Html.LabelFor(model => model.rdtuesday)
                        </div>
                        <div class="col-md-3 fs16">
                            @Html.CheckBoxFor(model => model.rdwednesday, htmlAttributes: new { @class = "ch_box", data_toggle = "checkbox-x", @value = "true", data_three_state = "false", @disabled = true })
                            @Html.LabelFor(model => model.rdwednesday)
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="col-md-3 fs16">
                            @Html.CheckBoxFor(model => model.rdthursday, htmlAttributes: new { @class = "ch_box", data_toggle = "checkbox-x", @value = "true", data_three_state = "false", @disabled = true })
                            @Html.LabelFor(model => model.rdthursday)
                        </div>
                        <div class="col-md-3  fs16">
                            @Html.CheckBoxFor(model => model.rdfriday, htmlAttributes: new { @class = "ch_box", data_toggle = "checkbox-x", @value = "true", data_three_state = "false", @disabled = true })
                            @Html.LabelFor(model => model.rdfriday)
                        </div>
                        <div class="col-md-3 fs16">
                            @Html.CheckBoxFor(model => model.rdsaturday, htmlAttributes: new { @class = "ch_box", data_toggle = "checkbox-x", @value = "true", data_three_state = "false", @disabled=true })
                            @Html.LabelFor(model => model.rdsaturday)
                        </div>
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-6 fs17 ff-nt2 h45">
                        Acceptable time in margin <br> (in minutes)
                    </div>
                    <div class="col-md-4 no-padding margin-left-default">
                        @Html.TextBoxFor(model => model.timeinmargin, new { @class = "input-default h45 fs20 block min-1", @disabled=true })
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-6 ff-nt2 fs17 h45">
                        Default shift round down <br> (in minutes)
                    </div>
                    <div class="col-md-4 no-padding margin-left-default">
                        @Html.TextBoxFor(model => model.shiftrounddown, new { @class = "input-default h45 fs20 block min", @disabled = true })
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-6 fs17 ff-nt2 h45">
                        Default overtime round down <br> (in minutes)
                    </div>
                    <div class="col-md-4 no-padding margin-left-default">
                        @Html.TextBoxFor(model => model.otrounddown, new { @class = "input-default h45 fs20 block min", @disabled = true })
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-6 fs17 ff-nt2">
                        Night differential period covers from
                    </div>

                    <div class="col-md-2 no-padding margin-left-default">
                        @Html.TextBoxFor(model => model.nightdifffrom, new { @maxlength = "20", @class = "input-default time h45 fs20 block", @disabled = true })
                    </div>
                    <div class="col-md-1 no-padding fs17  h45 flex flex-center">
                        To
                    </div>
                    <div class="col-md-2 no-padding">
                        @Html.TextBoxFor(model => model.nightdiffto, new { @maxlength = "20", @class = "input-default h45 time fs20 block", @disabled = true })
                    </div>

                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-6 fs17 h45 ff-nt2">
                        Maximum allowable hours in a day (in minutes)
                    </div>
                    <div class="col-md-4 no-padding margin-left-default">
                        @Html.TextBoxFor(model => model.maximumworkhours, new { @maxlength = "20", @class = "input-default fs20 h45 block", @disabled = true })
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-6 ">
                        @Html.LabelFor(model => model.cutoffconsideration, new { @class = "fs17 h45 ff-nt2" })
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-1 no-padding margin-left-default">
                            @Html.RadioButtonFor(model => model.cutoffconsideration, "A", new { @data_val_required = "Select Cut-off consideration", @disabled = true })
                        </div>
                        <div class="col-md-10 no-padding">
                            Start of every shift, eg 8:00 am
                        </div>
                    </div>
                    <div class="col-md-6 no-padding margin-top-sm margin-bottom-lg">
                        <div class="col-md-1 no-padding margin-left-default">
                            @Html.RadioButtonFor(model => model.cutoffconsideration, "B", new { @data_val_required = "Select Cut-off consideration", @disabled = true })
                        </div>
                        <div class="col-md-10 no-padding">
                            Start of the day, ie 12 midnight
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 no-padding" style="height:100%">
                <div class="col-md-12 no-padding tabs-default h55 ff-nt2">
                    <div class="tab selected flex flex-left">
                        <span class="margin-left-lg fs26"></span>
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-12 fs20 ff-nt2">
                        Cut-off Period
                    </div>
                    <div class="col-md-12 margin-top-lg">
                        <div class="col-md-12 fs17 ff-nt2">
                            @Html.CheckBoxFor(model => model.monthly, htmlAttributes: new { @class = "mycheckbox", data_target = "#monthlycutoff" , @disabled = true })
                            @Html.LabelFor(model => model.monthly)
                        </div>
                        <div class="col-md-12 margin-top-default">
                            <div class="col-md-5 fs17 h45 flex flex-center">
                                Payroll cut-off every
                            </div>
                            <div class="col-md-4 no-padding flex flex-center">
                                @Html.TextBoxFor(model => model.monthlycutoff, new { @maxlength = "20", @class = "h45 block", @disabled = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-lg">
                        <div class="col-md-12  fs17 ff-nt2">
                           @Html.CheckBoxFor(model => model.semimonthly, htmlAttributes: new { @class = "mycheckbox", data_target = "#semicutofffrom, #semicutoffto", @disabled = true })
                            @Html.LabelFor(model => model.semimonthly)
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="col-md-12 margin-top-default">
                                <div class="col-md-5 fs17 h45 flex flex-center">
                                    Payroll cut-off every
                                </div>
                                <div class="col-md-4 no-padding flex flex-center">
                                    @Html.TextBoxFor(model => model.semicutofffrom, new { @maxlength = "20", @class = "h45 block", @disabled = true })
                                </div>
                            </div>
                            <div class="col-md-12 margin-top-default disabled">
                                <div class="col-md-5 fs17 h45 flex flex-center">
                                    Next payroll cut-off
                                </div>
                                <div class="col-md-4 no-padding flex flex-center">
                                    @Html.TextBoxFor(model => model.semicutoffto, new { @maxlength = "20", @class = "h45 block", @disabled = true })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 margin-top-lg">
                        <div class="col-md-12 fs17 ff-nt2">
                            @Html.CheckBoxFor(model => model.weekly, htmlAttributes: new { @class = "mycheckbox", data_target = "#weeklycutoff", @disabled = true })
                            @Html.LabelFor(model => model.weekly)
                        </div>
                        <div class="col-md-12 margin-top-default">
                            <div class="col-md-5 fs17 h45 flex flex-center">
                                Payroll cut-off every
                            </div>
                            <div class="col-md-4 no-padding flex flex-center">
                                @Html.TextBoxFor(model => model.weeklycutoff, new { @maxlength = "20", @class = "h45 block", @disabled = true })
                            </div>
                            <div class="col-md-3 no-padding fs17 h45 flex flex-center">
                                of the week.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 margin-top-lg">
                        <div class="col-md-12 fs17 ff-nt2">
                            @Html.CheckBoxFor(model => model.daily, htmlAttributes: new { @class = "mycheckbox", @disabled = true })
                            @Html.LabelFor(model => model.daily)
                        </div>
                    </div>
                </div>

                <div class="col-md-12 margin-top-lg">
                    <div class="col-md-6 pull-right margin-top-lg margin-right-default flex flex-center no-padding-right">
                        <div class="no-padding col-md-6 margin-right-sm margin-top-default">
                            <input type="button" value="BACK" class="h38 fs20 button-default block" onclick="page1()" />
                        </div>
                        <div class="no-padding col-md-6 margin-top-default">
                            <a type="button" href='@Url.Content("~/Company")' class="bg-orange001 button-default block h38 fs20 ff-nt2">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        initializeUI();
    });

    function initializeUI() {

        $('#fiscalyearmonth').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: ['name'],
            dropdownParent: 'body',
            maxItems: 1,
            sortField: [{ field: 'id', direction: 'asc' }],
            options: [{ id: 1, name: 'January' },
                        { id: 2, name: 'February' },
                        { id: 3, name: 'March' },
                        { id: 4, name: 'April' },
                        { id: 5, name: 'May' },
                        { id: 6, name: 'June' },
                        { id: 7, name: 'July' },
                        { id: 8, name: 'August' },
                        { id: 9, name: 'September' },
                        { id: 10, name: 'October' },
                        { id: 11, name: 'November' },
                        { id: 12, name: 'December' }],
            onBlur: function () {
                $(this.$input[0]).valid();
            },
            onInitialize: function () {
                this.setValue($(this.$input[0]).data('selected'), 'silent');
            }
        });

        semiFrom = $('#semicutofffrom').selectize({
            valueField: 'id',
            labelField: 'value',
            searchField: ['value'],
            dropdownParent: 'body',
            maxItems: 1,
            sortField: [{ field: 'id', direction: 'asc' }],
            options: generateDates(1, 15),
            onBlur: function () {
                $(this.$input[0]).valid();
            }
        });

        monthly = $('#monthlycutoff').selectize({
            valueField: 'id',
            labelField: 'value',
            searchField: ['value'],
            dropdownParent: 'body',
            maxItems: 1,
            sortField: [{ field: 'id', direction: 'asc' }],
            options: generateDates(1, 31),
            onBlur: function () {
                $(this.$input[0]).valid();
            }
        });

        weekly = $('#weeklycutoff').selectize({
            valueField: 'id',
            labelField: 'name',
            searchField: ['name'],
            maxItems: 1,
            dropdownParent: 'body',
            options: [{ id: '1', name: 'Monday' },
                            { id: '2', name: 'Tuesday' },
                            { id: '3', name: 'Wednesday' },
                            { id: '4', name: 'Thursday' },
                            { id: '5', name: 'Friday' },
                            { id: '6', name: 'Saturday' },
                            { id: '7', name: 'Sunday' }],
            onBlur: function () {
                $(this.$input[0]).valid();
            }
        });

        semiTo = $('#semicutoffto').selectize({
            valueField: 'id',
            labelField: 'value',
            searchField: ['value'],
            maxItems: 1,
            dropdownParent: 'body',
            sortField: [{ field: 'id', direction: 'asc' }],
            options: generateDates(16, 31),
            onBlur: function () {
                $(this.$input[0]).valid();
            }
        });
    }
    
    function page2() {
        $('#step-2').removeClass('collapse');
        $('#step-1').addClass('collapse');
       
    }

    function page1() {
        $('#step-1').removeClass('collapse');
        $('#step-2').addClass('collapse');

    }

    function generateDates(from, to) {

        dates = [];

        for (var i = from; i < to + 1; i++) {
            var val = "";
            if (i == 1 || i == 21 || i == 31) {
                val = i.toString() + "st";
            }
            else if (i == 2 || i == 22) {
                val = i.toString() + "nd";
            }
            else if (i == 3 || i == 23) {
                val = i.toString() + "rd";
            }
            else {
                val = i.toString() + 'th';
            }
            dates.push({ id: i, value: val });
        }

        return dates;
    }

</script>