@using HRIS_UIRevamp_v2.ViewModel
@model UserCredentialsIndexViewModel
@{
    ViewBag.Title = "Credentials";
}

<div class="col-md-12 title">
    CREDENTIALS
</div>

<div class="body-content">
    <div class="col-md-12 margin-top-default">
        <div class="col-md-12 margin-top-lg margin-bottom-lg">
            <div class="col-md-7">
                <div class="col-md-12 margin-bottom-default no-padding">
                    <div class="col-md-3 no-padding fs20 ff-nt2 flex flex-left h45">
                        @Html.LabelFor(model => model.user_id, new { @class = "" })
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.user_id, "", new { @class = "input-default h45 fs20 block", @placeholder = "Enter User ID" })
                        @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12 margin-bottom-default no-padding">
                    <div class="col-md-3 no-padding fs20 ff-nt2 flex flex-left h45">
                        @Html.LabelFor(model => model.username, new { @class = "" })
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.username, new { @maxlength = "20", @class = "input-default h45 fs20 block", @placeholder = "Enter Employee Name" })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <div class="col-md-12 no-padding margin-top-default">
                        <div class="col-md-3 no-padding pull-right margin-right-default">
                            <button class="button-default block bg-orange001 h38 fs20 ff-nt2" id="search">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 no-padding h55 flex flex-center pull-right ">
                @Html.Action("ButtonLinks", "Layout")
            </div>
        </div>


        <div class="margin-bottom-lg col-md-12" id="table">
            <div class="col-md-12 fs17">
                <table class="table dyna-theme001 d-table tableBodyScroll2" id="credential-table" >
                    <thead>
                        <tr>
                            <th width="15%" data-dynatable-column="user_id">USER ID</th>
                            <th width="25%" data-dynatable-column="username">NAME</th>
                            <th width="20%" data-dynatable-column="email1">EMAIL</th>
                            <th width="15%" data-dynatable-column="profile_id">PROFILES</th>
                            <th width="15%" data-dynatable-column="c_role_id">ROLES</th>
                            <th width="10%" data-dynatable-column="active">ACTIVE</th>
                        </tr>
                    </thead>
                    <tbody ></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    var dtable;

    var settings = {
        features: {
            paginate: true,
            sort: true,
            pushState: true,
            search: false,
            recordCount: true,
            perPageSelect: false
        },
        dataset: {
            records: [],
            perPageDefault: 10,
            perPageOptions: [10, 20, 50, 100, 200, 500, 1000]
        },
        writers: {
            _cellWriter: customCellWriter
        }
    };


    $(document).ready(function () {
        initializeUI();
        initializeEvents();

       
    });

    function initializeUI() {

        dtable = $(".d-table").bind('dynatable:init', function (e, dynatable) {

        }).dynatable(settings).data('dynatable');

    }

    function initializeEvents() {

        var tds = $('#credential-table tr').first().children('td');
        var ths = $('thead th');
        for (var i = 0; i < tds.length; i++) {
            tds.eq(i).css('width', ths.eq(i).width());
        }

        $("#search").on('click', function (e) {
            e.preventDefault();
            var user_id = $("#user_id");
            var username = $("#username");
            if ($('#credential-table').is(':visible')) {
                if (user_id.val().length) {
                    dtable.queries.add('user_id', user_id.val());
                } else {
                    dtable.queries.remove('user_id');
                }
                if (username.val().length) {
                    dtable.queries.add('username', username.val());
                } else {
                    dtable.queries.remove('username');
                }
                dtable.queries.add('ajax', 'yes');
                dtable.settings.dataset.ajax = true;
                dtable.settings.dataset.ajaxUrl = "@Url.Content("~/Credentials/SearchResult")";
                dtable.settings.dataset.ajaxOnLoad = false;
                dtable.process();
            }
        });
    }

    function customCellWriter(column, record) {
        var html = column.attributeWriter(record),
            td = '<td class="text-left">';

        if (column.id == "user_id") {
            td = '<td width=15%>';

        }
        else if (column.id == "user_name") {
            td = '<td width=25%>';
            
        }
        else if (column.id == "email1") {
            td = '<td width=20%>';

        }
        else if (column.id == "profile_id") {
            td = '<td width=15%>';

        }
        else if (column.id == "c_role_id") {
            td = '<td width=15%>';

        }
        else if (column.id == "active") {
            td = '<td width=10%>';
            if (html == true) {
                html = '<span class="margin-left-lg glyphicon glyphicon-ok-circle text-green001 fs20" />';
            }
            else {
                html = " ";
            }
            
        }
        return td + html + '</td>';
    };

</script>
