@using HRIS_UIRevamp_v2.ViewModel
@model UserCredentialsUpdateViewModel
@{
    ViewBag.Title = "Credentials/View";
}
<div class="col-md-12 title">
    VIEW CREDENTIALS
</div>


    <div class="body-content">
        <div class="col-md-6 no-padding left-container">
            <div class="col-md-12 no-padding tabs-default h55 ff-nt2 margin-bottom-default">
                <div class="tab selected flex flex-left">
                    <span class="margin-left-lg fs26">ACCOUNT</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12 h45 no-padding-right flex flex-left fs20 ff-nt2">
                    @Html.LabelFor(model => model.user_id, new { @class = "" })
                </div>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.user_id, new { @maxlength = "20", @class = "input-default h45 fs20 block", @autocomplete = "off", @disabled=true })
                </div>
            </div>


            <div class="col-md-12 margin-top-default">
                <div class="col-md-12 no-padding">
                    <div class="col-md-12 fs20 ff-nt2 margin-bottom-sm">
                        Full Name
                    </div>
                    <div class="col-md-12 no-padding margin-bottom-default">
                        <div class="col-md-6 no-padding-right ">
                            <div class="col-md-12 fs17 no-padding">
                                Firstname
                            </div>
                            @Html.TextBoxFor(model => model.fname, new { @maxlength = "20", @class = "input-default h45 fs20 block", @autocomplete = "off", @disabled = true })
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-12 fs17 no-padding">
                                Middlename
                            </div>
                            @Html.TextBoxFor(model => model.mname, new { @maxlength = "20", @class = "input-default h45 fs20 block", @autocomplete = "off", @disabled = true })
                        </div>
                    </div>

                    <div class="col-md-12 margin-bottom-sm no-padding">
                        <div class="col-md-6 margin-bottom-default no-padding-right ">
                            <div class="col-md-12 fs17 no-padding">
                                Lastname
                            </div>
                            @Html.TextBoxFor(model => model.lname, new { @maxlength = "20", @class = "input-default h45 fs20 block", @autocomplete = "off", @disabled = true })
                        </div>

                        <div class="col-md-6 margin-bottom-default ">
                            <div class="col-md-12 fs17 no-padding">
                                Suffix
                            </div>
                            @Html.TextBoxFor(model => model.suffix, new { @maxlength = "20", @class = "input-default h45 fs20 block", @autocomplete = "off",@disabled=true })
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-12 no-padding tabs-default h55 ff-nt2 margin-bottom-lg">
                <div class="tab selected flex flex-left">
                    <span class="margin-left-lg fs26">CONFIGURATION</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-3 h45 no-padding-right flex flex-left fs20 ff-nt2">
                    @Html.LabelFor(model => model.profile_id, new { @class = "" })
                </div>
                <div class="col-md-9 no-padding-left">
                    @Html.TextBoxFor(model => model.profile_id, "", new { @class = "input-default h45 fs20 block", @disabled = true })
                </div>
            </div>

            <div class="col-md-12 margin-top-default margin-bottom-lg">
                <div class="col-md-3 h45 no-padding-right flex flex-left fs20 ff-nt2">
                    @Html.LabelFor(model => model.c_role_id, new { @class = "" })
                </div>
                <div class="col-md-9 no-padding-left">
                    @Html.TextBoxFor(model => model.c_role_id, "", new { @class = "input-default h45 fs20 block", @disabled = true })
                </div>
            </div>
        </div>

        <div class="col-md-6 no-padding">
            <div class="col-md-12 no-padding tabs-default h55 ff-nt2">
                <div class="tab selected flex flex-left">
                    <span class="margin-left-lg fs26">BASIC INFORMATION</span>
                </div>
            </div>

            <div class="col-md-12 margin-top-lg">
                <div class="col-md-12 fs20 ff-nt2 margin-bottom-sm">
                    Emails
                </div>
                <div class="col-md-12 margin-top-default">
                    <div class="no-padding col-md-1 h45 fs20 ff-nt2 margin-bottom-sm flex flex-center">
                        1.
                    </div>
                    <div class="col-md-11 no-padding">
                        @Html.TextBoxFor(model => model.email1, new { @maxlength = "20", @class = "input-default h45 fs20 block", @disabled = true })
                    </div>
                </div>
                <div class="col-md-12 margin-top-default">
                    <div class="no-padding col-md-1 h45 fs20 ff-nt2 margin-bottom-sm flex flex-center">
                        2.
                    </div>
                    <div class="col-md-11 no-padding">
                        @Html.TextBoxFor(model => model.email2, new { @maxlength = "20", @class = "input-default h45 fs20 block" , @disabled = true })
                    </div>
                </div>
            </div>

            <div class="col-md-12 margin-top-default">
                <div class="col-md-12 fs20 ff-nt2 margin-bottom-sm">
                    Phone Numbers
                </div>
                <div class="col-md-12 margin-top-default">
                    <div class="no-padding col-md-1 h45 fs20 ff-nt2 margin-bottom-sm flex flex-center">
                        1.
                    </div>
                    <div class="col-md-11 no-padding">
                        @Html.TextBoxFor(model => model.phone1, new { @maxlength = "20", @class = "input-default h45 fs20 block", @disabled = true })
                    </div>
                </div>
                <div class="col-md-12 margin-top-default">
                    <div class="no-padding col-md-1 h45 fs20 ff-nt2 margin-bottom-sm flex flex-center">
                        2.
                    </div>
                    <div class="col-md-11 no-padding">
                        @Html.TextBoxFor(model => model.phone2, new { @maxlength = "20", @class = "input-default h45 fs20 block", @disabled = true })
                    </div>
                </div>
            </div>

            <div class="col-md-12 margin-top-default margin-bottom-default">
                <div class="col-md-4 pull-right margin-top-lg margin-right-default flex flex-center no-padding-right">
                   
                    <div class="no-padding col-md-12">
                        <a type="button" href='@Url.Content("~/Credentials")' class="bg-orange001 button-default block h38 fs20 ff-nt2">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

<script>

    $(document).ready(function () {

    });

</script>
